div.document {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 481px; 
    position: relative;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h2.citation-group {
    text-align: left;
}

div.container {
    text-indent: 0px;
    margin-left: 0px;
}

div.container.draft {
    text-align: center;
    margin: 1em 0;
    text-indent: 0px;
    font-size: 110%;
    font-family: Helvetica, Arial, Sans-Serif;
    font-style: italic;
}

div.container.draft div.container {    
    color: #ff4444;
    border: solid 1px #ff4444;
    width: 80%;
    text-indent: 0px;
    padding: 0.5em;
    display: inline-block;
    margin: 0px;
    text-align: left;
}

div.credits.container {
    text-align: center;
    margin: 0 0 1em 0;
    text-indent: 0px;
}

div.container.credits div.container {
    border: double 3px black;
    width: 50%;
    display: inline-block;
    padding: 1em;
    text-align: left;
    text-indent: 0px;
    margin: 0px;
}

a.image-reference {
    position: absolute;
    top: 0px;
    right: 0px;
}

a.image-reference:hover {
    background: url('graphics/circle-arrow-down-grey.png');
}

div.notes {
  margin: 0 2em;
  padding: 0 1em;
  border: solid 1px #666666;
  background: #eeeeee;
}

h3.court {
    margin-bottom: 0;
}

div.court-id:before {
    position: relative;
    /* top: 0.70em; */
    left: -0.5em;
    content: url('graphics/down3-40.png');
}

div.court-id {
    position: relative;
    /* top: -0.70em; */
    margin: 0 2em 1em 2em;
}

div.container.bubbles {
    font-family: ariel,courier,mono;
    font-weight: bold;
    margin: 2em;
    text-indent: 0px;
}

div.bubbles a, a.bubble {
    border: solid 2px #666666;
    color: #444444;
    border-radius: 1em;
    padding: 0.5em;
    text-decoration: none;
    display: inline-block;
    text-indent: 0px;
    margin: 0.25em 0;
}

a.bubble.mini {
    padding: 0.25em 0.5em;
}

div.bubbles a:hover, a.bubble:hover {
    background: #eeeeee;
    cursor: pointer;
    color: #222222;
}

div.reporters {
    margin: 1em 2em 0 2em;
}

div.reporter-box {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
}

div.reporter {
    border: solid 1px black;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 1em;
    min-height: 4em;
}

div.reporter.neutral {
    background: #c4ffc4;
}

div.reporter-name {
    font-weight: bold;
    font-size: smaller;
    margin-bottom:0.25em;
}

div.description-box {
    width:40%;
    display: inline-block;
    font-size: smaller;
}

div.description-box span.label {
    font-weight: bold;
    color: #666666;
    font-family: Helvetica, Arial, Sans-Serif;
}

div.description-box span.value.unconfirmed {
    color: red;
}

div.description-box span.value.neutral {
    color: green;
    font-weight: bold;
}

div.feature-box {
    width:57%;
    display: inline-block;
    font-size:smaller;
    vertical-align: top;
    border-top:solid 1px black;
    border-left:solid 1px black;
    padding: 1%;
    border-radius: 1em 0 0 0;
}

div.feature-box span.label {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
}

div.feature-box span.value {
    font-style: italic;
}

div.container {
    text-indent: -1em;
    margin-left: 1em;
}
